# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.g.dart
*.freezed.dart

# Env
.env

# IDE
.idea/
.vscode/
*.iml

# Platform build artifacts
android/.gradle/
android/app/debug
android/app/profile
android/app/release
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Pods/
macos/Flutter/ephemeral
windows/flutter/ephemeral
linux/flutter/ephemeral
web/

# Misc
*.lock
!pubspec.lock
.DS_Store
coverage/
